body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: #094f59;
}

.navbar{
    max-width: 82rem;
    margin: 0 auto;
}

.navbar-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
}

.navbar-menu-option a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px;
    font-weight: 500;
    font-size: 18px;
}

.navbar-menu-option a:hover {
    background-color: #188292;
}

.navbar-menu-icon img{
    width: 50px;
    height: 50px;
}

.navbar-menu-btnresponsive {
    display: none;
}

/*Seccion Banner------------------------------------------*/

.banner {
    background-image: url(./assets/img/Brownie\ banner.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 600px;
    background-color: rgb(31, 30, 30);
}

.banner-container {
    max-width: 82rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
}

.banner-info {
    background-color: #cd2c6c;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 10px;
}

.banner-info-title {
    padding: 10px 20px;
    background-color: #5f023a;
    border-radius: 10px 10px 0 0;
}

.banner-info-title h1 {
    margin-top: 20px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.banner-info-title h2 {
    font-size: 20px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


.banner-info-form {
    margin-top: 20px;
    padding: 10px 20px;
}

.formulario-info{
    font-size: 14px;
    margin: 0;
    padding: 5px 10px;
    background-color: #094f59;
    width: 95%;
    color: white;

}

.email {
    padding: 15px;
    width: 100%;
    border-radius: 2px;
    border: none;
    margin-top: 15px;
}



.checkbox {
    display: flex;
    width: 90%;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    color: white;
}

.checkbox a{
    font-size: 15px;
    color: white;
}

#checkbox-2 {
    width: 20px;
}

.banner-button-form {
    padding: 10px;
    border-radius: 2px;
    border: none;
    background-color: #5f023a;
    color: white;
    font-weight: bold;
    width: 100%;
    margin-top: 15px;
    font-size: 15px;
    box-shadow: 0 0 10px 0px #ffcebe;

}

.banner-button-form:hover{
    background-color: #188292;
    cursor: pointer;
}

/*--dessert--------------------------------------------------*/

.dessert-container {
    padding: 20px;
    margin: 30px auto 0;
    max-width: 82rem;
}

.dessert-products-title h1 {
    margin: 0 auto;
    text-align: center;
    padding: 5px;
}

.dessert-products-title p {
    margin: 15px auto;
    text-align: center;
    padding: 5px;
}

.dessert-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    margin: 3rem auto;
}

.dessert-products-product {
    box-shadow: 0px 0px 10px 0px rgb(170 170 170);
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-direction: column;
}

.dessert-img {
    border-radius: 5px 5px 0 0;
}

.dessert-img img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0;
}

.dessert-descriptions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 0%;
}

.desert-title {
    padding: 5px 10px;
    margin: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    display: flex;
    align-items: flex-end;
}



.dessert-text {
    padding: 5px 10px;
    margin: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    display: flex;
    align-items: flex-start;
}

.dessert-footer {
    margin: 0;
    padding: 10px;
    text-align: center;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: center;
    display: flex;
    align-items: flex-end;
}

.dessert-footer a {
    text-decoration: none;
    color: white;
    padding: 15px 10px;
    background-color: #cd2c6c;
    width: 250px;
    height: 20px;
}

.dessert-footer a:hover{
    background-color: #188292;
}

/*Adiciona--------------------------------------------*/

.aditional {
    background-color: #33539E;
}

.aditional-container {
    padding: 50px 10px;
    max-width: 82rem;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.adicionales-titulo {
    width: 50%;
    color: white;
    font-size: 40px;
}

.aditional-Benefits {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 40%;
}

.aditional-benefits-benefit {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column nowrap;
    text-align: center;
    fill: white;
    color: white;
    font-weight: 500;
}






.aditional-benefits-benefit svg {
    height: 50px;
    width: 50px;
    margin: 0 auto;
}

.aditional-button-form {
    padding: 10px;
    border-radius: 2px;
    border: none;
    background-color: #3e9fb2;
    color: white;
    font-weight: bold;
    width: 100%;
    margin-top: 15px;
    font-size: 15px;

}

.aditional-button-form:hover{
    background-color: #7facd6;
    cursor: pointer;
}

/*--footer---------------------*/


.footer {
    background-color: #ffffff;
}

.footer-container {
    max-width: 82rem;
    margin: 0px auto;
}

.footer-table {
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-table dt {
    text-align: left;
    color: rgb(133, 133, 133);
    font-weight: 800;
}

.footer-table dd {
    display: flex;
    margin: 10px auto;
}

.footer-table dd a {
    text-align: center;
    text-decoration: none;
    color: rgb(133, 133, 133);
    fill: rgb(133, 133, 133);
    font-weight: 500;
    display: flex;
    align-items: center;
}

.footer-table dd a:hover {
    color: rgb(49, 49, 49);
}


.footer-redesandderechos {
    padding: 10px 5px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.footer-redessociales {
    display: flex;
    justify-content: center;
}

.footer-redessociales a {
    padding: 7px;
    width: 25px;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid rgb(133, 133, 133);
    fill: rgb(133, 133, 133);
    color: rgb(133, 133, 133);
    display: flex; 
    align-items: center;
    justify-content: center;
    transform: scaleX(1) scaleY(1);
    transition: transform 0.5s ease, background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
}



.footer-redessociales a svg {
    height: 25px;
    width: 100%;
}

.facebook:hover{
    transform: scaleX(1.2) scaleY(1.2);
    color: white;
    border: 2px solid #3b5998 ;
    background-color: #3b5998;
}

.instagram:hover{
    transform: scaleX(1.2) scaleY(1.2);
    color: white;
    border: 2px solid #893dc2 ;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);;
}

.twitter:hover{
    transform: scaleX(1.2) scaleY(1.2);
    color: white;
    border: 2px solid #00ACEE ;
    background-color: #00ACEE;
}

.tiktok:hover{
    transform: scaleX(1.2) scaleY(1.2);
    color: white;
    border: 2px solid black ;
    background-color: black;
}

.footer-derechos {
    color: rgb(133, 133, 133);
    text-align: center;
}


/* -----------------------------------------------------------
---------------------------------------------------------
Responsive */





@media (max-width: 992px){ /*Portatiles*/



    /* deseerts------------------- */

    .dessert-footer a {
        width: 90%;
    }

} 


@media (max-width: 820px){ /*tablets*/

    /* Banner------------------------------------------------------ */

    .banner{
        
        background-image: url(./assets/img/Brownie\ banner.jpeg);
        background-position: left;
        background-size: cover;
        background-attachment: scroll;
        
}

    /* Desserts---------------------------------- */
    
    .dessert-products {
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 35px;
    }

    /* aditional------------------------------------------ */


    .aditional-container {
        justify-content: space-around;
        align-items: center;
        flex-direction: column-reverse;
    }

    .adicionales-titulo {
     width: 90%;   
     }

    .adicionales-titulo {
        font-size: 20px;
    }

    .aditional-Benefits {
        gap: 15px;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr ;
        width: 90%;
    }

}


@media (max-width: 600px){ /*Celulares*/

    .navbar-menu-option {
        display: none;
        
    }
    
    
    
    .navbar-menu-btnresponsive {
        display: block;
        display: flex;
        justify-content: right;
        align-items: center;
        width: 55px;
        
    }

    .navbar-menu-btnresponsive svg{
        width: 100%;
        height: 35px;
        padding: 10px;
        fill: white;
        
    }

    /* banner------------------------------------------ */


    .banner{
        height: 100%;
        
    
    }

    .banner-info{
        height: 600px ;
    }

    .banner-info-form {
        margin-top: 0px;
    }


    /*---footer----------------------------------------------*/

    .footer-table {
        padding: 50px 20px;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

}


@media (max-width: 280px){

    .banner-info-title {
        padding: 5px 20px;
    }
    
    .banner-info-title h1 {
        margin-top: 20px;
        font-size: 20px;
    }
    
    .banner-info-title h2 {
        font-size: 12px;
    }
    
    .banner-info-form {
        margin-top: 30px;
    }
   
}
